---
import Layout from "../layouts/Layout.astro";
import QuoteBox from "../components/QuoteBox.astro";
---

<Layout title="FUN at eschbach">
  <div class="h-screen flex flex-col justify-end bg-[#01032d]">
    <video autoplay muted loop class="h-full">
      <source src="ai-motion.mp4" type="video/mp4" />
    </video>
    <h1 class="text-4xl font-bold absolute left-0 bottom-0 m-8 md:m-16 text-white">
      Welcome to the&nbsp;<span id="team-name" class="[-webkit-text-fill-color:transparent] bg-[0%] bg-[length:400%] bg-gradient-to-r from-violet-600 via-fuchsia-500 via-30% to-white to-60% bg-clip-text fill-transparent">AI/NLP</span><span
        class="absolute w-[2px] h-[43px] bg-white animate-blink"></span> Team at eschbach.
    </h1>
  </div>
  <div class="h-[50vh] flex flex-col justify-center bg-gray-100">
    <QuoteBox imageUrl="" author="Felix">Warum fährst du kein Smart, Christian?</QuoteBox>
  </div>
</Layout>

<script>
  const title = document.querySelector<HTMLSpanElement>("#team-name");
  const newTeamName = "FUN";

  setTimeout(() => {
    setTimeout(() => {
      newTeamName.split("").forEach((char, i) => {
        setTimeout(() => {
          title.innerText += char;
        }, i * 200);
      });
    }, title.innerText.length * 200 + 400);

    title.innerText.split("").forEach((_, i) => {
      setTimeout(() => {
        title.innerText = title.innerText.substring(
          0,
          title.innerText.length - 1
        );
      }, i * 200);
    });
  }, 2000);
</script>
