---
import Layout from "../layouts/Layout.astro";
import QuoteBox from "../components/QuoteBox.astro";
import GradientText from "../components/GradientText.astro";
import Person from "../components/Person.astro";
---

<Layout title="FUN at eschbach">
  <div class="h-screen flex flex-col justify-end bg-[#01032d]">
    <video autoplay muted loop class="h-full">
      <source src="ai-motion.mp4" type="video/mp4" />
    </video>
    <h1
      class="text-4xl font-bold absolute left-0 bottom-0 m-8 md:m-16 text-white"
    >
      Welcome to the&nbsp;<GradientText>AI/NLP</GradientText><span
        class="absolute w-[2px] h-[43px] bg-white animate-blink"></span> team at
      eschbach.
    </h1>
  </div>
  <div class="bg-gray-100 p-16">
    <div>
      <center>
        <h1 class="text-5xl font-bold mb-16">
          <GradientText>The nice guys from the FUN squad</GradientText>
        </h1>
      </center>
    </div>
    <div class="flex gap-8 justify-center w-full flex-wrap">
      <Person
        name="Thomas"
        description="aka Mysterio"
        imageUrl="https://64.media.tumblr.com/15e548682209574bcb9d42fbbca3f28b/b056519f7816f0f0-64/s640x960/6f1b257ee7db2fef8758457a2720ab181d497077.jpg"
      />
      <Person
        name="DD"
        description="The only one who didn't study"
        imageUrl="https://i.pinimg.com/564x/e9/2e/ea/e92eeab605bf8678c5a5efaea2393a6c.jpg"
      />
      <Person
        name="Christian"
        description="Team Leader"
        imageUrl="https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Stephen-Strange.Doctor-Strange.webp"
      />
      <Person
        name="Robin"
        description="Hier könnte ihre Werbung stehen."
        imageUrl="https://www.superherodb.com/pictures2/portraits/10/050/850.jpg?v=1597793431"
      />
      <Person
        name="Anastasia"
        description="Cite me!"
        imageUrl="https://i.pinimg.com/564x/90/b6/a7/90b6a77b94e67d72e422b6d40c40a94c.jpg"
      />
      <Person name="Marco" description="„I have not told half of what I saw.“" imageUrl="https://postausitalien.files.wordpress.com/2019/11/11-marco-polo-og.jpg?w=1200" />
    </div>
  </div>
</Layout>

<script>
  const title = document.querySelector<HTMLSpanElement>("#team-name");
  const newTeamName = "FUN";

  setTimeout(() => {
    setTimeout(() => {
      newTeamName.split("").forEach((char, i) => {
        setTimeout(() => {
          title.innerText += char;
        }, i * 200);
      });
    }, title.innerText.length * 200 + 400);

    title.innerText.split("").forEach((_, i) => {
      setTimeout(() => {
        title.innerText = title.innerText.substring(
          0,
          title.innerText.length - 1
        );
      }, i * 200);
    });
  }, 2000);
</script>
